@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: #F4F7FA;
  color: var(--foreground);
  font-family: var(--font-tiktok-sans), Arial, Helvetica, sans-serif;
}
